apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-fbpvwdpu
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-fbpvwdpu:9a093db0622ae953317faa4d8f30b2d79db3e07b@sha256:1a7d9fd6d471b5106b73a5049121849362bc63584c527c8419140cedc465f2ff
        name: container-image  
